{%- comment -%}
Product Breadcrumb Navigation
Parameters:
- product: Current product
- collection: Current collection (if any)
- menu_handles: Comma-separated list of menu handles to search
- separator: HTML separator between items
{%- endcomment -%}

{%- liquid
  assign breadcrumb_found = false
  assign menu_handle_list = menu_handles | split: ','
  
  # Try to find product in specified menus
  for handle in menu_handle_list
    assign menu = linklists[handle]
    if menu != blank
      for link in menu.links
        if link.url contains product.url
          assign breadcrumb_found = true
          break
        endif
        for child_link in link.links
          if child_link.url contains product.url
            assign breadcrumb_found = true
            break
          endif
        endfor
        if breadcrumb_found
          break
        endif
      endfor
    endif
    if breadcrumb_found
      break
    endif
  endfor
-%}

<li class="breadcrumb-item">
  <a href="/">Home</a>
</li>

{%- if breadcrumb_found -%}
  <span class="separator">{{ separator }}</span>
  <li class="breadcrumb-item">
    <a href="{{ link.url }}">{{ link.title }}</a>
  </li>
  {%- if child_link != blank -%}
    <span class="separator">{{ separator }}</span>
    <li class="breadcrumb-item">
      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
    </li>
  {%- endif -%}
{%- else -%}
  {%- # Fallback to collection > product hierarchy -%}
  {%- if collection -%}
    <span class="separator">{{ separator }}</span>
    <li class="breadcrumb-item">
      <a href="{{ collection.url }}">{{ collection.title }}</a>
    </li>
  {%- endif -%}
  <span class="separator">{{ separator }}</span>
  <li class="breadcrumb-item">
    <span>{{ product.title }}</span>
  </li>
{%- endif -%} 